{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nisi sunt cum magni quod explicabo, eveniet sint animi maiores, quo molestias minus quaerat iste. Earum eligendi minima omnis itaque impedit?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod deserunt nulla enim tempora! Dolores vitae iure rerum mollitia, placeat neque, ipsum ducimus, accusamus reiciendis sit numquam? Quae molestias quam optio!
    </p>
{{end}}
