{{define "title"}}Update Password{{end}}

{{define "main"}}
    <h2>Update Password</h2>
    <form action="/user/password/update" method="post">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div>
            <label for="current_password">Current Password:</label>
            {{with .Form.FieldErrors.current_password}}
                <label for="current_password" class="error">{{.}}</label>
            {{end}}
            <input type="password" name="current_password" id="current_password">
        </div>
        <div>
            <label for="new_password">New Password:</label>
            {{with .Form.FieldErrors.new_password}}
                <label for="new_password" class="error">{{.}}</label>
            {{end}}
            <input type="password" name="new_password" id="new_password">
        </div>
        <div>
            <label for="confirm_password">Confirm Password:</label>
            {{with .Form.FieldErrors.confirm_password}}
                <label for="confirm_password" class="error">{{.}}</label>
            {{end}}
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <div>
            <input type="submit" value="Update Password">
        </div>
    </form>
{{end}}
